allure-pytest==2.5.0
allure-python-commons==2.5.0
apipkg==1.5
asn1crypto==1.2.0
atomicwrites==1.3.0
attrdict==2.0.0
attrs==18.1.0
bcrypt==3.1.7
boltons==19.3.0
boto3==1.10.15
botocore==1.13.15
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.2.2
dataclasses==0.6
docutils==0.15.2
dropbox==9.3.0
elasticsearch==7.5.1
execnet==1.7.1
Flask==1.1.1
future==0.18.2
glob2==0.7
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.0.0
Mako==1.1.0
MarkupSafe==1.1.1
minio==4.0.17
more-itertools==7.2.0
nested-lookup==0.1.5
paramiko==2.6.0
parse==1.12.1
parse-type==0.5.2
parsedatetime==2.4
pluggy==0.6.0
py==1.5.4
pycparser==2.19
PyHamcrest==1.9.0
PyNaCl==1.3.0
pyOpenSSL==18.0.0
pyrsistent==0.15.5
pysftp==0.2.9
pytest==3.6.3
pytest-bdd==2.21.0
pytest-check==0.2.1
pytest-forked==0.2
pytest-html==1.19.0
pytest-jira==0.3.7
pytest-metadata==1.7.0
pytest-rerunfailures==4.1
pytest-xdist==1.22.3
python-dateutil==2.8.1
pytz==2019.3
PyYAML==3.13
redis==3.4.1
requests==2.20.0
requests-futures==0.9.7
s3transfer==0.2.1
six==1.13.0
urllib3==1.23
virtualenv==16.7.7
wait-for==1.1.0
Werkzeug==1.0.0
